{% extends 'Blog/baseTemplate.html' %}

{% block title %}My Blogs{% endblock %}

{% block content %}
<div class="container">
<h3 class="mt-4">Pending Blogs</h3>


    <table class="table table-bordered">
            <thead>
                <tr>
                    {% if request.user.is_staff %}
                        <!-- <th>User</th> -->
                    {% endif %}
                    <th>Title</th>
                    <th>Category</th>
                    <th>Submitted At</th>
                    <th>Preview</th>
                    <th>Approvel Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in blogs %} 
                    <tr>
                        {% if request.user.is_staff %}
                            <!-- <td><a href="#">{{blog.user.username}}</a></td> -->
                        {% endif %}
                        <td><a href="{% url 'blogpage' blog.id%}"  >{{ blog.title }} </a></td>
                        <td>{{ blog.category.name }}</td>
                        <td>{{ blog.created_at|date:"d M Y, H:i" }}</td>
                        <td>{{ blog.content|truncatechars:100 }}</td>
                        <td>{{ blog.get_status_display }}</td>
                        {% if request.user.is_staff %}
                        <td>
                            <div class="d-flex gap-2">
                                <a href="{% url 'approve_blog' blog.id %}" class="btn btn-warning btn-sm">Approve</a>
                                <a href="{% url 'reject_blog' blog.id %}" class="btn btn-danger btn-sm">Reject</a>
                            </div>
                        </td>   
                    
                        
                        {% else %}
                        <td>
                            <div class="d-flex gap-2">
                                <a href="{% url 'updateblog' blog.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="{% url 'deleteblog' blog.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                            </div>
                        </td>
                        {% endif %}
                

                    </tr>
                {% endfor %}
            </tbody>
    </table>












</div>

{% endblock %}
