{% extends 'Blog/baseTemplate.html' %}
{% block title %} User Dashboard {% endblock %}
{% block content %}



<div class="container mt-4">
    <div class="row">

        <div class="col-md-3 mb-4">
            <div class="col-md-3 mb-4"></div>
            <h5 >Categories</h5>
            <ul class="list-group mb-3">
                
                {% for category in categories %}
                <a href="?category={{ category.id }}" class="list-group-item {% if selected_category == category.id %}active{% endif %}">
                    {{ category.name }}
                </a>
                {% endfor %}
            </ul>
            <h5 >Action</h5> 
            <ul class="list-group">
                
            <div class="d-grid mt-3">
                <a href="{% url 'addblog' %}" class="btn btn-primary">Create Blog</a>
            </div>
            {% if  request.user.is_authenticated and not request.user.is_staff %}
                <div class="d-grid mt-3">
                    <a href="{% url 'deleteAccount' request.user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete Account</a>
                </div>  
            {% endif %}
            </ul>

        </div>


        <div class="col-md-9">
            {% if blogs %}
                {% for blog in blogs %}
                <div class="card mb-4 shadow-sm">
                    <img src="{{ blog.featured_image.url }}" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'blogpage' blog.id %}">{{ blog.title }}</a></h5>
                        <p class="card-text">{{ blog.content|truncatewords:30 }}</p>
                        <p class="text-muted mb-2">By {{ blog.user.username }} | {{ blog.created_at|date:"F j, Y" }}</p>
                
                        <p class="text-muted mb-0">
                            💬 {{ blog.comments.count }} comments
                        </p>
                        <form action="{% url 'like_blog' blog.id %}" method="" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                ❤️ {{ blog.likes.count }} 
                            </button>   
                        </form>
                        
                    </div>
                </div>
                
                {% endfor %}
            {% else %}  
                <p>No blogs found in this category.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
